
@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-thin.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-extendedthin.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedthin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-thinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-curly-thinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-extendedthinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-curly-extendedthinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-thinitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-thinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-extendedthinitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedthinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-extralight.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-extendedextralight.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedextralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-extralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-curly-extralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-extendedextralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-curly-extendedextralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-extralightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-extendedextralightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedextralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-light.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-extendedlight.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedlight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-lightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-curly-lightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-extendedlightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-curly-extendedlightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-lightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-lightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-extendedlightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedlightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-regular.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-extended.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-oblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-curly-oblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-extendedoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-curly-extendedoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-italic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-extendeditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendeditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-medium.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-extendedmedium.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedmedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-mediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-curly-mediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-extendedmediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-curly-extendedmediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-mediumitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-mediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-extendedmediumitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedmediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-semibold.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-extendedsemibold.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedsemibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-semiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-curly-semiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-extendedsemiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-curly-extendedsemiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-semibolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-semibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-extendedsemibolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedsemibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-bold.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-extendedbold.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-boldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-curly-boldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-extendedboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-curly-extendedboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-bolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-extendedbolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedbolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-extrabold.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-extendedextrabold.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedextrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-extraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-curly-extraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-extendedextraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-curly-extendedextraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-extrabolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-extendedextrabolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedextrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-heavy.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-curly-extendedheavy.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedheavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-heavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-curly-heavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-curly-extendedheavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-curly-extendedheavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-heavyitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-heavyitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Curly Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-curly-extendedheavyitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-curly-extendedheavyitalic.woff2') format('woff2');
}
