
@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-thin.ttf') format('truetype'), url('woff2/iosevka-term-ss08-thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-extendedthin.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedthin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-thinoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('ttf/iosevka-term-ss08-thinoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-extendedthinoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('ttf/iosevka-term-ss08-extendedthinoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-thinitalic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-thinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-extendedthinitalic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedthinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-extralight.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-extendedextralight.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedextralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-extralightoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('ttf/iosevka-term-ss08-extralightoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-extendedextralightoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('ttf/iosevka-term-ss08-extendedextralightoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-extralightitalic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-extendedextralightitalic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedextralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-light.ttf') format('truetype'), url('woff2/iosevka-term-ss08-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-extendedlight.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedlight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-lightoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('ttf/iosevka-term-ss08-lightoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-extendedlightoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('ttf/iosevka-term-ss08-extendedlightoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-lightitalic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-lightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-extendedlightitalic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedlightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-regular.ttf') format('truetype'), url('woff2/iosevka-term-ss08-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-extended.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-oblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('ttf/iosevka-term-ss08-oblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-extendedoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('ttf/iosevka-term-ss08-extendedoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-italic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-extendeditalic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendeditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-medium.ttf') format('truetype'), url('woff2/iosevka-term-ss08-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-extendedmedium.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedmedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-mediumoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('ttf/iosevka-term-ss08-mediumoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-extendedmediumoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('ttf/iosevka-term-ss08-extendedmediumoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-mediumitalic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-mediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-extendedmediumitalic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedmediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-semibold.ttf') format('truetype'), url('woff2/iosevka-term-ss08-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-extendedsemibold.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedsemibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-semiboldoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('ttf/iosevka-term-ss08-semiboldoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-extendedsemiboldoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('ttf/iosevka-term-ss08-extendedsemiboldoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-semibolditalic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-semibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-extendedsemibolditalic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedsemibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-bold.ttf') format('truetype'), url('woff2/iosevka-term-ss08-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-extendedbold.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-boldoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('ttf/iosevka-term-ss08-boldoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-extendedboldoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('ttf/iosevka-term-ss08-extendedboldoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-bolditalic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-extendedbolditalic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedbolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-extrabold.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-extendedextrabold.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedextrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-extraboldoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('ttf/iosevka-term-ss08-extraboldoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-extendedextraboldoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('ttf/iosevka-term-ss08-extendedextraboldoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-extrabolditalic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-extendedextrabolditalic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedextrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-heavy.ttf') format('truetype'), url('woff2/iosevka-term-ss08-heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-term-ss08-extendedheavy.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedheavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-heavyoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('ttf/iosevka-term-ss08-heavyoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-term-ss08-extendedheavyoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('ttf/iosevka-term-ss08-extendedheavyoblique.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-heavyitalic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-heavyitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term SS08 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-term-ss08-extendedheavyitalic.ttf') format('truetype'), url('woff2/iosevka-term-ss08-extendedheavyitalic.woff2') format('woff2');
}
