
@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-thin.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-extendedthin.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedthin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-thinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-ss04-thinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-extendedthinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-ss04-extendedthinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-thinitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-thinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-extendedthinitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedthinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-extralight.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-extendedextralight.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedextralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-extralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-ss04-extralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-extendedextralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-ss04-extendedextralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-extralightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-extendedextralightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedextralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-light.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-extendedlight.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedlight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-lightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-ss04-lightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-extendedlightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-ss04-extendedlightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-lightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-lightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-extendedlightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedlightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-regular.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-extended.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-oblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-ss04-oblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-extendedoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-ss04-extendedoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-italic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-extendeditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendeditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-medium.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-extendedmedium.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedmedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-mediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-ss04-mediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-extendedmediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-ss04-extendedmediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-mediumitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-mediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-extendedmediumitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedmediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-semibold.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-extendedsemibold.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedsemibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-semiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-ss04-semiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-extendedsemiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-ss04-extendedsemiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-semibolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-semibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-extendedsemibolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedsemibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-bold.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-extendedbold.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-boldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-ss04-boldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-extendedboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-ss04-extendedboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-bolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-extendedbolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedbolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-extrabold.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-extendedextrabold.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedextrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-extraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-ss04-extraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-extendedextraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-ss04-extendedextraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-extrabolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-extendedextrabolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedextrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-heavy.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-ss04-extendedheavy.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedheavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-heavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-ss04-heavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-ss04-extendedheavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-ss04-extendedheavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-heavyitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-heavyitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS04 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-ss04-extendedheavyitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-ss04-extendedheavyitalic.woff2') format('woff2');
}
