
@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss13-thin.ttf') format('truetype'), url('woff2/iosevka-ss13-thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss13-extendedthin.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedthin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-thinoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('ttf/iosevka-ss13-thinoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-extendedthinoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss13-extendedthinoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss13-thinitalic.ttf') format('truetype'), url('woff2/iosevka-ss13-thinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss13-extendedthinitalic.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedthinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss13-extralight.ttf') format('truetype'), url('woff2/iosevka-ss13-extralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss13-extendedextralight.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedextralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-extralightoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('ttf/iosevka-ss13-extralightoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-extendedextralightoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss13-extendedextralightoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss13-extralightitalic.ttf') format('truetype'), url('woff2/iosevka-ss13-extralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss13-extendedextralightitalic.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedextralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss13-light.ttf') format('truetype'), url('woff2/iosevka-ss13-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss13-extendedlight.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedlight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-lightoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('ttf/iosevka-ss13-lightoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-extendedlightoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss13-extendedlightoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss13-lightitalic.ttf') format('truetype'), url('woff2/iosevka-ss13-lightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss13-extendedlightitalic.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedlightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss13-regular.ttf') format('truetype'), url('woff2/iosevka-ss13-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss13-extended.ttf') format('truetype'), url('woff2/iosevka-ss13-extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-oblique.ttf') format('truetype'), url('woff2/iosevka-ss13-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('ttf/iosevka-ss13-oblique.ttf') format('truetype'), url('woff2/iosevka-ss13-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-extendedoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss13-extendedoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss13-italic.ttf') format('truetype'), url('woff2/iosevka-ss13-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss13-extendeditalic.ttf') format('truetype'), url('woff2/iosevka-ss13-extendeditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss13-medium.ttf') format('truetype'), url('woff2/iosevka-ss13-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss13-extendedmedium.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedmedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-mediumoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('ttf/iosevka-ss13-mediumoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-extendedmediumoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss13-extendedmediumoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss13-mediumitalic.ttf') format('truetype'), url('woff2/iosevka-ss13-mediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss13-extendedmediumitalic.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedmediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss13-semibold.ttf') format('truetype'), url('woff2/iosevka-ss13-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss13-extendedsemibold.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedsemibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-semiboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('ttf/iosevka-ss13-semiboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-extendedsemiboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss13-extendedsemiboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss13-semibolditalic.ttf') format('truetype'), url('woff2/iosevka-ss13-semibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss13-extendedsemibolditalic.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedsemibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss13-bold.ttf') format('truetype'), url('woff2/iosevka-ss13-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss13-extendedbold.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-boldoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('ttf/iosevka-ss13-boldoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-extendedboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss13-extendedboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss13-bolditalic.ttf') format('truetype'), url('woff2/iosevka-ss13-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss13-extendedbolditalic.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedbolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss13-extrabold.ttf') format('truetype'), url('woff2/iosevka-ss13-extrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss13-extendedextrabold.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedextrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-extraboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('ttf/iosevka-ss13-extraboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-extendedextraboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss13-extendedextraboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss13-extrabolditalic.ttf') format('truetype'), url('woff2/iosevka-ss13-extrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss13-extendedextrabolditalic.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedextrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss13-heavy.ttf') format('truetype'), url('woff2/iosevka-ss13-heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss13-extendedheavy.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedheavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-heavyoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('ttf/iosevka-ss13-heavyoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss13-extendedheavyoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss13-extendedheavyoblique.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss13-heavyitalic.ttf') format('truetype'), url('woff2/iosevka-ss13-heavyitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS13 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss13-extendedheavyitalic.ttf') format('truetype'), url('woff2/iosevka-ss13-extendedheavyitalic.woff2') format('woff2');
}
