
@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-thin.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedthin.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedthin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-thinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-thinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedthinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedthinoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-thinitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-thinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedthinitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedthinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extralight.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedextralight.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedextralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedextralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedextralightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extralightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedextralightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedextralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-light.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedlight.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedlight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-lightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-lightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedlightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedlightoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-lightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-lightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedlightitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedlightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-regular.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extended.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-oblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-oblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-italic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendeditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendeditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-medium.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedmedium.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedmedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-mediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-mediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedmediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedmediumoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-mediumitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-mediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedmediumitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedmediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-semibold.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedsemibold.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedsemibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-semiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-semiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedsemiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedsemiboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-semibolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-semibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedsemibolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedsemibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-bold.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedbold.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-boldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-boldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-bolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedbolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedbolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extrabold.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedextrabold.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedextrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedextraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedextraboldoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extrabolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedextrabolditalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedextrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-heavy.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedheavy.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedheavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-heavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('ttf-unhinted/iosevka-fixed-ss16-heavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedheavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedheavyoblique.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-heavyitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-heavyitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Fixed SS16 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf-unhinted/iosevka-fixed-ss16-extendedheavyitalic.ttf') format('truetype'), url('woff2-unhinted/iosevka-fixed-ss16-extendedheavyitalic.woff2') format('woff2');
}
