
@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss06-thin.ttf') format('truetype'), url('woff2/iosevka-ss06-thin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss06-extendedthin.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedthin.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-thinoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('ttf/iosevka-ss06-thinoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-thinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-extendedthinoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss06-extendedthinoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedthinoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss06-thinitalic.ttf') format('truetype'), url('woff2/iosevka-ss06-thinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss06-extendedthinitalic.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedthinitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss06-extralight.ttf') format('truetype'), url('woff2/iosevka-ss06-extralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss06-extendedextralight.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedextralight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-extralightoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('ttf/iosevka-ss06-extralightoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-extendedextralightoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss06-extendedextralightoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedextralightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss06-extralightitalic.ttf') format('truetype'), url('woff2/iosevka-ss06-extralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss06-extendedextralightitalic.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedextralightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss06-light.ttf') format('truetype'), url('woff2/iosevka-ss06-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss06-extendedlight.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedlight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-lightoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('ttf/iosevka-ss06-lightoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-lightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-extendedlightoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss06-extendedlightoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedlightoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss06-lightitalic.ttf') format('truetype'), url('woff2/iosevka-ss06-lightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss06-extendedlightitalic.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedlightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss06-regular.ttf') format('truetype'), url('woff2/iosevka-ss06-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss06-extended.ttf') format('truetype'), url('woff2/iosevka-ss06-extended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-oblique.ttf') format('truetype'), url('woff2/iosevka-ss06-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('ttf/iosevka-ss06-oblique.ttf') format('truetype'), url('woff2/iosevka-ss06-oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-extendedoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss06-extendedoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss06-italic.ttf') format('truetype'), url('woff2/iosevka-ss06-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss06-extendeditalic.ttf') format('truetype'), url('woff2/iosevka-ss06-extendeditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss06-medium.ttf') format('truetype'), url('woff2/iosevka-ss06-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss06-extendedmedium.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedmedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-mediumoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('ttf/iosevka-ss06-mediumoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-mediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-extendedmediumoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss06-extendedmediumoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedmediumoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss06-mediumitalic.ttf') format('truetype'), url('woff2/iosevka-ss06-mediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss06-extendedmediumitalic.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedmediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss06-semibold.ttf') format('truetype'), url('woff2/iosevka-ss06-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss06-extendedsemibold.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedsemibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-semiboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('ttf/iosevka-ss06-semiboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-semiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-extendedsemiboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss06-extendedsemiboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedsemiboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss06-semibolditalic.ttf') format('truetype'), url('woff2/iosevka-ss06-semibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss06-extendedsemibolditalic.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedsemibolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss06-bold.ttf') format('truetype'), url('woff2/iosevka-ss06-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss06-extendedbold.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-boldoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('ttf/iosevka-ss06-boldoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-boldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-extendedboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss06-extendedboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss06-bolditalic.ttf') format('truetype'), url('woff2/iosevka-ss06-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss06-extendedbolditalic.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedbolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss06-extrabold.ttf') format('truetype'), url('woff2/iosevka-ss06-extrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss06-extendedextrabold.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedextrabold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-extraboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('ttf/iosevka-ss06-extraboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-extendedextraboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss06-extendedextraboldoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedextraboldoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss06-extrabolditalic.ttf') format('truetype'), url('woff2/iosevka-ss06-extrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss06-extendedextrabolditalic.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedextrabolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-ss06-heavy.ttf') format('truetype'), url('woff2/iosevka-ss06-heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('ttf/iosevka-ss06-extendedheavy.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedheavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-heavyoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('ttf/iosevka-ss06-heavyoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-heavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('ttf/iosevka-ss06-extendedheavyoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('ttf/iosevka-ss06-extendedheavyoblique.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedheavyoblique.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-ss06-heavyitalic.ttf') format('truetype'), url('woff2/iosevka-ss06-heavyitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka SS06 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('ttf/iosevka-ss06-extendedheavyitalic.ttf') format('truetype'), url('woff2/iosevka-ss06-extendedheavyitalic.woff2') format('woff2');
}
